

/* ========================================== */
/* VARIABLES */
/* ============================================== */
:root{
    --palMain: #202040;
    --palSecond: #543864;
    --palThird: #FF6363;
    --palHighlight: #FFBD69;
    --palborderradius: 2rem;
    --palpadding: 1rem;
}


/* ============================= */
/* DEFAULTS */
/* =============================== */
*{
    /* ensure the padding and border are included in the 
    width and height */ 
    box-sizing: border-box;
    /* removes the default margin and set margin to 0 */
    margin: 0;
    padding: 0;

    /* sets default font family for all elements and default size for all font */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: medium; 
    border-color: var(--palThird);
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: var(--palMain);
    max-width: 100vw;
}
body.light-theme {
    color: #000000;
}
body.dark-theme {
    color: #f0f0f0;
}

header, footer{
    background-color: var(--palSecond);
    padding: 1rem;
    z-index: 2;
    position: relative;
}

h1{
    color:var(--palThird);
    font-size: 50px;
}

/* Default Headers 2 */
h2{
    color: var(--palHighlight);
    font-size: 35px;
}

img{
    width: 20rem;
}

button{
    background-color: var(--palMain);
    border: 4px solid var(--palHighlight);
    border-radius: 2rem;
    color: var(--palHighlight);
    padding: 1rem;
}
/* ========================== */
/* WEBPAGE ELEMENTS */
/* ----- */
/* ----- */
/* HEADER */
/* =================================== */
header nav{
    /* makes this spefiic nav from a header parent */
    display: flex;
    /* wrap itms in smll screen */
    flex-wrap: wrap;
    justify-content: center;
    
}
header nav a, #toggleThemeBtn, #lHeader, #rHeader{
    cursor: pointer;
    color: #dbdbdb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--palMain);
    border: 2px solid var(--palHighlight);
    font-size: 2rem;
    border-radius: 0;
    
}
header a:hover{
    transition: background 0.3s;
    background-color: var(--palThird);
}
#lHeader{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: var(--palMain);
}
#rHeader{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: var(--palMain);
}
/* ============ */
/* MAIN */
/* ====== */
main{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
    position: relative;
}

main::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(./assets/HighresScreenshot00057.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    filter: blur(8px);
    pointer-events: none;
}

/* CONTAINER BOX FOR ABOUT AND PROJECTS */
.container{
    background-color: var(--palSecond);
    border-left: 5px solid var(--palThird);
    text-align: center;
    margin-top: 2%;
    padding: 1vw;
    transition: all 0.4s ease;
}


#projHighlight{
    clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 0%, 50% 0%);
            /* L  polygon(0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 5%, 50% 5%);
               R  polygon(0% 5%, 0% 50%, 0% 100%, 50% 100%, 100% 1000%, 100% 0%, 50% 5%); */
    padding-top: 0;
    transform: translateY(0px);
}




#home{
    clip-path: polygon(0 0, 45% 100%, 55% 100%, 100% 0%);
    overflow: hidden;
    line-height: 2;
}

#home h2{
    font-size: 2rem;
}

#about p{
    display: none;
}
#about button{
    /* background-color: transparent;
    border-color: transparent;
    color: transparent; */
    margin-top: 2.5%;
    cursor: pointer;
    width: 200px;
}


.openAb#home{
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    overflow: hidden;
    opacity: 1;
}

.openAb#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openAb#about p{
    display:inline;
    font-size: 2rem;
}

/* okay need a toggle for container to switch states - none, left - right. speficically for project corner */

/* ---- NORMAL ---- */

/* PROJECT GRID CONTAINER */
#projGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    transition: all 0.4s ease;
}

/* BOTH COLUMNS DIRECTED TO BE A GRID ASWELL. (OR MIGHT USE FLEX AND DIRECT IT AS A COLUM) */
#codeGrid, #gameGrid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:center;
}


#codeGrid h2, #gameGrid h2{
    font-size: 2em;
}
/* THE BUTTON OF THE PROJECT (TO REVEAL MORE AND THEN ANOTHER BUTTON WILL APPEAR TO REDIRECT USER */
.card{
    position: relative;
    overflow: hidden;
    max-height: 260px;
    padding: 1rem;
    border-radius: 5%;
    background-color: var(--palMain);
    color: var(--palHighlight);
    box-shadow: 0 2px 5px var(--palHighlight);
    margin-top: 5%;
    cursor: pointer;
    width: 100%;
    max-width: 90vw;
    transition: transform 0.4s;
    
}

.card:hover{
    transform: scale(1.05);
}

.card:active{
    transform: scale(1.3);
}


.card .cardImg{
    display: block;
}

.card .items{
    display: none;
}

/* Button Title */
.card h1{
    background-color: var(--palSecond);
    position: absolute;
}

.card img{
    width:350px;
    border-radius: 5%;
}

.card + button{
    margin: 1rem auto 0 auto;
    transform: translateY(-40px);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(.68,-0.55,.27,1.55), opacity 0.3s;
    pointer-events: none;
}


.card + button:hover{
    background-color: var(--palHighlight);
    color: var(--palMain);
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
/* ----------LEFT------------- */

.left-mode#home{
    clip-path: polygon(0% 0%, 75% 100%, 100% 100%, 100% 0%);
    height: 400px;
    text-align: right;
    line-height: 1.4;
}

.left-mode#home img{
    width: 100px;
}


/* PROJECT GRID CONTAINER */
.left-mode#projGrid{
    grid-template-columns: 2fr 1fr;
    gap: 2%;
}

/* THE BUTTON OF THE PROJECT (TO REVEAL MORE AND THEN ANOTHER BUTTON WILL APPEAR TO REDIRECT USER */

.card.selected{
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--palHighlight);
    color: var(--palMain);
    box-shadow: 0 4px 10px var(--palThird);
    margin-top: 10%;
    border: 4px solid var(--palMain);
    gap: 2em;

    transform: scale(1.0);
    width: 100%;
    max-width: 60vw;
    max-height: 800px;
    overflow: auto;
    scroll-behavior: smooth;
}


/* Button Title */
.card.selected h1{
    color: var(--palHighlight);
    background-color: var(--palThird);
    justify-self:left;
    align-self:flex-start;
    position: absolute;
}

.card.selected img{
    justify-self: right;
    width: 500px;
}


.card.selected .cardImg{
    display: none;
}

.card.selected .items{
    display: inline;
}

.card.selected + button{
    margin: 1rem;
    padding: 2rem;
    justify-self: left;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}


/* BOTH COLUMNS DIRECTED TO BE A GRID ASWELL. (OR MIGHT USE FLEX AND DIRECT IT AS A COLUM) */
.left-mode#gameGrid{
    gap: 15rem;
    border-left: 32px solid var(--palThird);
}


/* THE BUTTON OF THE PROJECT (TO REVEAL MORE AND THEN ANOTHER BUTTON WILL APPEAR TO REDIRECT USER */

/* Button Title */
.left-mode#gameGrid .card h1{
    background-color: var(--palSecond);
    font-size: 2rem;
}


.left-mode#gameGrid .card img{
    width: 25vw;
}

.left-mode#projHighlight{
    clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 5%, 50% 5%);
    padding-top: 8rem;
    transform: translateY(-120px);
}



/* ------------------- RIGHT  ----------------- */


.right-mode#home{
    clip-path: polygon(0px 0px, 0% 100%, 25% 100%, 100% 0%);
    overflow: hidden;
    height: 400px;
    text-align: left;
    font-size: small;
    line-height: 1.4;
}

.right-mode#home img{
    width: 100px;
}


/* PROJECT GRID CONTAINER */

.right-mode#projGrid{
    grid-template-columns: 1fr 2fr;
    gap: 2%;
}

/* BOTH COLUMNS DIRECTED TO BE A GRID ASWELL. (OR MIGHT USE FLEX AND DIRECT IT AS A COLUM) */
.right-mode#codeGrid{
    gap: 15rem;
    border-right: 32px solid var(--palThird)
}

.right-mode#codeGrid h2{
    font-size: 2em;
}
/* THE BUTTON OF THE PROJECT (TO REVEAL MORE AND THEN ANOTHER BUTTON WILL APPEAR TO REDIRECT USER */
.right-mode#codeGrid .card{
    display: flex;
    overflow: hidden;
    border-radius: 2rem;
    background-color: var(--palMain);
    color: var(--palHighlight);
    box-shadow: 0 2px 5px var(--palHighlight);
    cursor: pointer;
    width: 25vw;
    padding: 5%;
}
/* Button Title */
.right-mode#codeGrid .card h1{
    background-color: var(--palSecond);
    font-size: 2rem;
}

.right-mode#codeGrid .card p{
    display: none;
}


.right-mode#projHighlight{
    clip-path: polygon(0% 5%, 0% 50%, 0% 100%, 50% 100%, 100% 1000%, 100% 0%, 50% 5%);
    padding-top: 8rem;
    transform: translateY(-120px);
}

@media screen and (max-width: 1048px){
    .openAb#about p{
        display:inline;
        font-size: 1rem;
    }
    header nav a, #toggleThemeBtn, #lHeader, #rHeader{
        padding: 0.5rem 1rem;
        font-size: 25px;    
    }

    h1{
    font-size: 2rem;
    }
    h2{
    font-size: 2rem;
    }

    .left-mode#home, .right-mode#home{
        height: 300px;
    }

    img{
        width: 250px;
    }
}

@media screen and (max-width: 800px){
    h1{
    font-size: 1.6rem;
    }
    h2{
    font-size: 1rem;
    }

    .left-mode#home, .right-mode#home{
        height: 300px;
    }

    img{
        width: 250px;
    }

    #codeGrid h2, #gameGrid h2{
        font-size: 1.4rem;
    }


    .right-mode#projGrid{
    grid-template-columns: 1fr 2fr;
    gap: 1%;
}
}


@media screen and (max-width: 500px){

    header nav a, #toggleThemeBtn, #lHeader, #rHeader{
        padding: 0.25rem 0.5rem;
        font-size: 20px;    
    }

    .container{
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0.1rem;
    }
    #aboutBut{
        width: 1px;
    }
    #about h2{
        font-size: 0.9rem;
    }

    #about button{
        font-size: 0.8rem;
        height: 50px;
        width: 100px;
    }
    .right-mode#home, .left-mode#home{
        height: 250px;
    }

    .card{
        padding: 1%;
        height: 150px;
    }

    .card img{
        width: 150px;
    }

    #codeGrid h2, #gameGrid h2{
        font-size: 1.4rem;
    }


    .left-mode#codeGrid .card, .right-mode#codeGrid .card, .left-mode#gameGrid .card, .right-mode#gameGrid .card{
        width: 100%;
        max-width: 90vw;
        height: 400px;
    }


    .left-mode#codeGrid .card img, .right-mode#gameGrid .card img{
        width: 80vw;
    }
    .right-mode#codeGrid .card img, .left-mode#gameGrid .card img{
        width: 50vw;
    }

    .left-mode#codeGrid .card p, .right-mode#gameGrid .card p{
        display: inline;
    }

    .right-mode#codeGrid, .left-mode#gameGrid{
        gap: 5%;
    }

    .right-mode#projHighlight, .left-mode#projHighlight{
        transform: translateY(-150px);
        padding-top: 12rem;
    }
    .right-mode#projGrid, .left-mode#projGrid{
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
        max-width: 100vw;
    }
    .right-mode#gameGrid{
        order: 1;
    }
    .right-mode#codeGrid{
        order: 2;
        border-right: 0.5rem solid var(--palThird);
    }

    .left-mode#gameGrid{
        border-left: 0.5rem solid var(--palThird);
    }

}